<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Рекорды Гиннеса на</title>
</head>
<body>
<h1>Рекорды, короче, Гиннеса</h1>
<p>Не буду я с картинки переписывать задание полностью. Цель задания- отработка создания представления к новому URL,
, с регистрацией APP, прописыванием динамических роутов и тп. Представление рендерит Html страницу, которая
включает в себя динамические данные, взятые из словаря, переданного в атрибут context функции render.
</p>
<p>
    <ol>
    <li><h2>Мощный чел</h2> <br> Какой- то норвежский чел, по имени <b>{{power_man}}</b> сломал кучу бетона за минуту </li>
    <li><h2>Гамбургер</h2> <br> В Тайланде, в баре <b>{{bar_name}}</b>, бургер продают 36кг весом.</li>
    <li><h2>Человек- Ёж</h2> <br>В Китае чуваку в лицо воткнули<b>{{count_needle}}</b> игл, вот такая медицина.</li>
</ol>
</p>
</body>
</html>