ul {
    border : 5px solid black;
    border-radius:0px 40px 40px 0px;
    background-color: white;
    position : left;
    max-width : 120px;
   }

ul a {
    color : black;
    }

li a:hover, li a:active {
    color : #eca8b5;
    }

