html {
    background-image: url("https://top-fon.com/uploads/posts/2023-01/1674756060_top-fon-com-p-fon-prezentatsii-goroskop-12.jpg");
    background-attachment: fixed;
    background-size: 100%, auto;
}
