{% extends 'base.html' %}

{% load static %}

{% block css_additional %}
    <link rel= "stylesheet" href= "{% static 'horoscope/css/index.css' %}">
{% endblock %}

{% block title %}
    Главное меню
{% endblock %}

{% block content %}
    {% include 'includes/navbar.html'%}
        <p>Выбери свой знак, и познай тайны Вселенной</p>
        <ul>
    {% for zodiac in zodiacs %}
        <li>
            <a href = "{% url 'horoscope_name' sign_zodiac=zodiac %}">{{zodiac|capfirst}}</a>
        </li>
    {% endfor %}
    </ul>
<p>
    <h2>Веселые приключения лягушки</h2>
        <img  id="frog" src="http://mediad.publicbroadcasting.net/p/michigan/files/201411/10780743055_86677b04bb_o.jpg" style="width:100px">
</p>
    <button type="button" onclick="document.getElementById('frog').src='https://luxvill74.ru/pictures/product/big/6021_big.jpg'">Включить блендер</button>

{% endblock %}


