{% extends 'base.html' %}

{% load static %}

{% block css_additional %}
    <link rel= "stylesheet" href= "{% static 'horoscope/css/index.css' %}">
{% endblock %}

{% block title %}
    Главное меню
{% endblock %}

{% block content %}
    {% include 'includes/navbar.html'%}
        <p>Щас список будет</p>
        <ul>
    {% for zodiac in zodiacs %}
        <li>
            <a href = "{% url 'horoscope_name' sign_zodiac=zodiac %}">{{zodiac|capfirst}}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}

