{% extends 'base.html' %}
{% load static %}

{% block css_additional %}
    <link rel= "stylesheet" href= "{% static 'horoscope/css/info.css' %}">
{% endblock %}

{% block title %}
    Описание знака {{current_sign|capfirst}}
{% endblock %}

{% block content %}
{% include 'includes/navbar.html'%}
{% if description is None %}
    <p>Нема такого знака- {{current_sign|capfirst}}</p>
{% else %}
    <h2>Описание знака {{current_sign|capfirst}}, короче:</h2>
    <p id="my_description">{{description}}</p>
    <hr>
{% endif %}

{% if current_sign == 'gemini' %}
<p>
    <img src="https://arapov.net/img/arapov-1200.jpg" width="500px">
</p>
{% endif %}
{% endblock %}